# generated things
*.o
*.elf
ninex.hdd
GNUmakefile
configure
*.cache
config.h
install-sh
config.status

# third-party software/libraries
third_party

# clang intellisense
.clang

# xbstrap leftovers
*.xbstrap

