# generated things
*.o
*.a
*.elf
*.bin
*.cache
ninex.hdd
GNUmakefile
configure
config.h
config.log
config.status
install_sh

# third-party software/libraries
third_party

# clang intellisense
.clang

# xbstrap leftovers
*.xbstrap

