# generated things
*.o
*.a
*.d
*.elf
*.bin
*.cache
ninex.hdd

# autoconf things
GNUmakefile
configure
config.h
config.log
config.status
install-sh

# build directories
debug
release
out
build

# third-party software/libraries
third_party

# clang intellisense
.clang

# xbstrap leftovers
*.xbstrap

